#menu {
  display: flex;
  justify-content: center;
  text-decoration: none;

}

ul {
  padding: 0px;
  margin:0px;

}

li {
  display: inline-block;

}

a{
text-decoration: none;
margin: 5px;
}

#menu a:hover{
  color:#c2dd59;

}

body{

  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 178vh,175vw;
}

#article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
  font-family: 'Nixie One', cursive;
}
